[submodule "ami-factory"]
	path = ami-factory
	url = https://github.com/enquizit/ami-factory.git
[submodule "DOT"]
	path = DOT
	url = https://github.com/enquizit/ami-config.git
[submodule "ami-config"]
	path = ami-config
	url = https://github.com/enquizit/ami-config.git
[submodule "ami-config/ansible/OSCAP/roles/RHEL6-STIG"]
	path = ami-config/ansible/OSCAP/roles/RHEL6-STIG
	url = https://github.com/tb3088/RHEL6-STIG.git
[submodule "ami-config/ansible/OSCAP/roles/RHEL7-STIG"]
	path = ami-config/ansible/OSCAP/roles/RHEL7-STIG
	url = https://github.com/tb3088/RHEL7-STIG.git
[submodule "ami-config/ansible/OSCAP/roles/Windows-2012-Member-Server-STIG"]
	path = ami-config/ansible/OSCAP/roles/Windows-2012-Member-Server-STIG
	url = https://github.com/enquizit/Windows-2012-Member-Server-STIG.git
[submodule "ami-config/ansible/OSCAP/roles/dev-sec.windows"]
	path = ami-config/ansible/OSCAP/roles/dev-sec.windows
	url = https://github.com/enquizit/ansible-windows-hardening.git
[submodule "ami-config/ansible/OSCAP/roles/redhat_rhel7-stig"]
	path = ami-config/ansible/OSCAP/roles/redhat_rhel7-stig
	url = https://github.com/RedHatOfficial/ansible-role-rhel7-stig.git
[submodule "ami-config/ansible/OSCAP/roles/Win2012-member-STIG"]
	path = ami-config/ansible/OSCAP/roles/Win2012-member-STIG
	url = https://github.com/enquizit/Windows-2012-Member-Server-STIG.git
