[submodule "ansible/OSCAP/roles/RedHat-7-STIG"]
	path = ansible/OSCAP/roles/RHEL7-STIG
	url = git@github.com:tb3088/RHEL7-STIG.git
[submodule "ansible/OSCAP/roles/RedHat-6-STIG"]
	path = ansible/OSCAP/roles/RHEL6-STIG
	url = git@github.com:tb3088/RHEL6-STIG.git
[submodule "ansible/OSCAP/roles/Win2012-member-STIG"]
	path = ansible/OSCAP/roles/Win2012-member-STIG
	url = git@github.com:enquizit/Windows-2012-Member-Server-STIG.git
[submodule "ansible/OSCAP/roles/dev-sec.windows"]
	path = ansible/OSCAP/roles/dev-sec.windows
	url = git@github.com:enquizit/ansible-windows-hardening.git
[submodule "ami-factory"]
	path = ami-factory
	url = git@github.com:enquizit/ami-factory.git
[submodule "ansible/OSCAP/roles/redhat/rhel7-stig"]
	path = ansible/OSCAP/roles/redhat_rhel7-stig
	url = git@github.com:RedHatOfficial/ansible-role-rhel7-stig.git
